body{
    display: block;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    display: block;
    padding: 5px;
    background-color: #B7D6DC;
}

header > figure.logo_img{
    margin-left: 30px;
}

header > h1 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

nav{
    display: block;
    background-color: #e4e4e4;
    margin: 0;
    padding: 20px 0;
    min-height: 20px;
}

nav > ul{
    margin: 0;
    display: block;
    list-style-type: circle;
}

nav > ul > li{
    float: left;
    margin: 0 10px;
}

aside{
    display: inline-block;
    width: 25%;
    margin: 20px 20px;
    vertical-align: top;
}

aside > nav{
    display: block;
    background-color: #e4e4e4;
    margin: 0;
    min-height: 20px;
}

aside > nav > ul{
    margin: 0;
    display: block;
    list-style-type: circle;
}

aside > nav > ul > li{
    margin: 0 10px;
    float: none;
}

article{
    margin: 20px;
}

article.article-with-aside{
    margin: 20px 20px;
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

article.article-with-aside > section{
    margin: 20px 20px;
}

section{
    border: 4px;
    border-style: solid;
    border-color: #A8A8A8;
    background-color: #DDDDDD;
    padding: 5px;
}

footer{
    background-color: #B7D6DC;
    padding: 5px;
}

footer > p{
    display: inline-block;
    margin: 0;
    margin-top: 60px;
    width: 24%;
}

footer > address{
    display: inline-block;
    margin: 0;
    width: 74%;
    text-align: right;
}

figure.logo_img{
    margin: 0;
    display: inline-block;
    max-width: 500px;
}

figure.logo_img > img{
    display: block;
    margin: auto;
}

figure > figcaption{
    text-align: center;
}